.bg-image {
  margin-top            : -55px;
  height                : 100vh;
  background-image      : image-url("screen2.jpg");
  background-size       : cover;
  background-repeat     : no-repeat;
  background-position   : center;
  background-attachment : fixed;
}

.landing-title {
  color : #fff;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  margin-top: 250px;
}

.landing-button {
  margin-top: 30px;
}

