.bg-image {
  height                : 100vh;
  background-image      : linear-gradient(-225deg, rgba(30,30,30,0.6) 30%, rgba(46,46,46,0.5) 80%),image-url("screen2.jpg");
  background-size       : cover;
  background-repeat     : no-repeat;
  background-position   : center;
  padding               : 0;
  position              : fixed;
  top                   : 0;
  left                  : 0;
  right                 : 0;
  bottom                : 0;
}

.landing-title {
  text-align            : center;
  font-weight           : bold;
  font-size             : 50px;
  margin-top            : 100px;
  color                 : #fff;
}

.landing-button {
  margin-top           : 30px;
}

.tutos-landing {
  color                : #fff;
  text-align           : center;
  padding              : 20px;
  background-color     : rgba(250, 250, 250 , 0.2);
}


.title-small-devise {
  margin-top: 120px;
}
