.nickname{
  font-weight: bold;
}

.reviews {
  .fa-star{
    color: #DD068B;
  }
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;

  .small-hr {
    margin-top: 8px;
    margin-bottom: 8px;
    border-top: 1px solid #fff;
  }

  small {
    font-style: italic;
    font-size: 10px;
  }
}

.trash-review {
  float: right;
  font-size: 18px;
  color: #DD068B;
  padding-right: 10px;
}


#new_review {
  margin: 20px !important;
}

.fa-star{
  color: #DD068B;
}

.star_grey {
  color: lightgray;
}
