// Place all the styles related to the tutos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// .index-background {
//   background-color: rgba(179, 179, 179, 0.5);
//
// }

.tuto_link  {
  color: #ffffff !important;
}

.tuto_link:hover{
  color: #656262;
}
.text-white {
  color: #ffffff;

}

#tutos {
  text-align : justify;
  margin : 0 auto;
  width : 100%;

  .box {
    background-color: #ffffff;
    margin : 5px;
    width : 230px;
    box-shadow : 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    border-radius : 5px;
    text-align : center;
    padding-top: 10px;
  }

  h6 {
    font-style: italic;
    padding: 5px;
    font-weight: lighter;
    color: #656262;
  }

  img {
    border-radius: 2% 2% 0 0;
    margin-top : 5%;
    max-width : 90%;
    max-height: 150px;
  }

  hr {
    margin: 5px 0 2px 0;
  }
}


.title-link {
  font-style: italic;
  color: #656262 !important;
  font-size: 18px;
}

.background {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
}

.search_banner{
  background-color: #222222;
  border-radius: 5px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  h1{
    color: #ffffff;
    padding-bottom: 50px;
    }
  }
.search_message{
  color: #ffffff;
}
  .btn-search {
    margin-left: 8px;
    background-color: #ffffff;
    color: #000;
  }

.search-form{
  border-radius:  4px;
  height: 25px;
  width: 70%;
}

.tuto-buttons{
  margin-top:  20px;
}

.heart {
  color: #dd0f35;
  font-size:  15px;
  padding-top: 10px;
  padding-left: 50px;
}

