
// .tuto_link  {
//   color: #ffffff !important;
// }

// .tuto_link:hover{
//   color: #656262;
// }
// .text-white {
//   color: #ffffff;
// }

// #tutos {
//   text-align : justify;
//   margin : 0 auto;
//   width : 100%;

//   .box {
//     background-color: #ffffff;
//     margin : 10px;
//     width : 700px;
//     height: 150px;
//     box-shadow : 0 1px 2px 0 rgba(0, 0, 0, 0.22);
//     border-radius : 5px;
//     text-align : center;
//   }

//   .landing-box{
//     background-color: #ffffff;
//     margin : 10px;
//     width : 200px;
//     box-shadow : 0 1px 2px 0 rgba(0, 0, 0, 0.22);
//     border-radius : 5px;
//     text-align : center;
//     padding-top: 15px;
//     img {
//       border-radius: 2% 2% 0 0;
//       margin-top : 5%;
//       max-width : 80%;
//       padding-bottom: 5%;
//     }

//     h4 {
//       font-style: italic;
//       font-size: 16px;
//       padding: 4px;
//       font-weight: lighter;
//       color: #656262;
//     }

//   }

//   h6 {
//     font-style: italic;
//     font-size: 12px;
//     padding: 5px;
//     font-weight: lighter;
//     color: #656262;
//   }


//   img {
//     border-radius: 2% 2% 0 0;
//     margin-top : 5%;
//     max-width : 90%;
//     max-height: 150px;
//   }

//   hr {
//     margin: 5px 0 2px 0;
//   }
// }


// .card {
//   background-color: #ffffff;
//   padding: 10px;
//   border-radius: 5px;
// }


// .tuto-buttons{
//   margin-top:  20px;
// }

// .heart {
//   color: #dd0f35;
//   font-size:  15px;
//   padding-top: 10px;
//   padding-left: 20px;
// }

// .devided-footer-left {
//   text-align: left;
// }


// .box-header {
//   margin-top: 5px;
// }


// .title-link {
//   font-style: italic;
//   color: #656262;
//   font-size: 18px;
//   padding-top: 15px;
// }

// .tutos-landing {
//   padding: 15px;
//   background-color: rgba(250, 250, 250 , 0.2);
// }

// .logo-category {
//   width: 80px;

// }
