.white-background {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.pagination {
  color: #fff;
  font-size: 20px;
  font-weight: light;

  a {
    color: #DD068B;
    padding-left: 5px;
  }
  a:hover{
    color: #DD77BF;
  }
}


