// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile {
  margin-top: 50px;
  color: #eee;
  a {
    color: #eee;
  }
}
.avatar_big {
  width :  150px;
  border-radius: 50%;
}

.avatar_small {
  border-radius: 50% !important;
  width: 30px;
  padding: 5px ;
}
